html {
    background-image: -webkit-radial-gradient(bottom, rgb(241,71,61), rgb(255,100,92));
    -webkit-background-size: cover;
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

a {
    text-shadow: none;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

.jik {
    background: url('img/jik.png') no-repeat center center fixed;
    -webkit-background-size: cover;
}

.accident {
    background: url('img/accident2.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
}

.laughing {
    background: url('img/laughing.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
}

.architecture {
    background: url('img/architecture.png') no-repeat center center fixed;
    -webkit-background-size: contain;
}

.browser {
    background: url('img/browser.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    color: #c3c3c3;
}

.google {
    background: url('img/google.jpg') no-repeat center center fixed;
    background-color: #fff; 
    -webkit-background-size: cover;
    color: #c3c3c3;
}

.library {
    background: url('img/library.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
}

.demo {
    background: url('img/demo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
}

.share {
    background: url('img/sharing.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
}

.slow {
    background: url('img/slow.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
}

.framework {
    background: url('img/framework.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
}

.power {
    background: url('img/obama.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
}
    section > header.power > h1 {
        color: #c3c3c3;
        position: absolute;
        top: auto;
        left: auto;
        margin: 0;
        right: 0;
        bottom: 0;
    }

.slow > h1, .browser > h1, .share > h1, .demo > h1, .google > h1, .framework > h1 {
    background: rgba(0,0,0,.9);
    color: #c3c3c3;
}

.quote {
    margin-top: 10%;
    background:rgba(0,0,0,.8);
    color: #c3c3c3;
}

    .quote .text {
        width: 98%;
        font-size: 4rem;
        text-align: center;
    }

    .quote .text:before {
        content: "\"";
    }

    .quote .text:after {
        content: "\"";
    }

    .quote .person {
        width: 98%;
        font-style: italic;
        text-align: right;
    }

    .quote .person:before {
        content: "- ";
    }

.erase {
    position: relative;
}
.erase:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 20px solid;
    border-color: red;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}